.featuredCarousel {
  margin: 0 auto;
  width: 59vw;
  height: 40vh;
  border: solid black 1px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.carouselImage {
  height: 40vh;
}

.carouselTitle {
  text-align: center;
}

.carouselCaption {
  background-color: rgb(125, 144, 140);
  width: 50%;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}
