.featuredCarousel {
  margin: 0 auto;
  width: 59vw;
  height: 40vh;
  border: solid black 1px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.carouselImage {
  height: 40vh;
}

.carouselTitle {
  text-align: center;
}
