#searchBar {
  margin-left: 5vw;
  width: 30vw;
  margin-top: 1vh;
}

#button-addon1 {
  background-color: black;
}
.search-drop-down {
  position: absolute;
  background-color: none;
  top: 4.5rem;
  left: 0;
  width: 100%;
  z-index: 1;
}
.input-wrapper {
  position: relative;
  display: flex;
}

a {
  color: black;
}

a:hover {
  color: #267825;
}

.searchIcon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
