.nav-bar {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #007343;
}

.ant-layout-sider {
  background-color: #007343 !important;
}

.ant-menu-title-content {
  background-color: #007343 !important;
}

.ant-menu-submenu-title {
  background-color: #007343 !important;
}

.ant-menu-inline {
  background-color: #007343 !important;
}

.ant-layout-sider-trigger {
  background-color: #007343 !important;
}

.ant-menu-item-selected {
  background-color: #007343 !important;
}

.ant-menu-item-selected > .ant-menu-title-content {
  background-color: #007343 !important;
}

.ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
  background-color: #007343 !important;
}

.ant-menu-title-content {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
}

.navLink {
  color: white !important;
  font-size: 1.4rem;
  font-weight: 300;
  width: 13vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5vw;
}

* {
  font-family: "Nunito", sans-serif;
}

.ant-layout {
  background-color: white;
}

.ant-layout-sider {
  flex: 0 !important;
  max-width: 150px !important;
  min-width: 150px !important;
  width: 150px !important;
}

.navbar-brand {
  font-size: 1.4rem;
  margin-right: 4vw;
}

.nav-demo {
  position: relative;
  margin: auto;
  display: flex;
  border: 1px solid var(--light-green);
  padding: 5px 15px;
  border-radius: 15px;
  background-color: #b4e47f91;
  color: white;
  font-weight: 600;
  box-shadow: inset 0 0 10px 10px #f4fbed26;
}
.nav-demo:after {
  content: "";
  position: absolute;
  width: 88px;
  height: 33px;
  left: 50%;
  top: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  animation: demo 2s infinite;
  box-shadow: inset 0 0 10px 10px #61a51852;
}
.nav-demo svg {
  transform: translateY(10%);
}

@keyframes demo {
  0% {
    width: 88px;
    height: 33px;
  }
  100% {
    width: 110px;
    height: 50px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px 10px rgb(188, 241, 195);
  }
}

h6 {
  color: white;
}

.circle-tooltip {
  background-color: rgb(40, 136, 64) !important;
}

.infoButton {
  width: 200vw !important;
}
